<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hero.libhero" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name">
        <service
            android:name=".keepalive.AliveJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>
</manifest>
